/* Global Styles */
*:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #FFFFFF;
}
 
ul {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 16px 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li:not(:last-child) {
  margin-right: 32px;
}

nav a:hover {
  text-decoration: underline;
}

address {
  font-size: 14px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: 0;
}

/* Main Styles */
main {
  margin-top: 80px;
  padding: 48px;
}

main h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 32px;
}

main section {
  margin-bottom: 80px;

}

main h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 32px;
}

main section ul li {
  margin-bottom: 32px;
}

main section ul li h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

main section ul li p {
  font-size: 18px;
  line-height: 1.5;
}

main section#3 {
  display: flex;
  justify-content: space-between;
}

main section#3 img {
  margin-right: 24px;
}

main section#4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main section#4 li {
  flex-basis: calc(50% - 16px);
  margin-bottom: 32px;
}

main section#4 h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

main section#4 p {
  font-size: 18px;
  line-height: 1.5;
}





.main-page-section1 {
  display: flex;
  padding: 0;

  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}


.main-page-section1 p {
  line-height: 1.5;
  max-width: 264px;
}




/* Footer Styles */
footer {
  background-color: #2E2F42;
  color: #f7f7f7;
  padding: 32px 48px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

footer p {
  font-size: 14px;
  line-height: 1.5;
  max-width: 480px;
}

button {
  background-color: #F4F4FD; 
  border: none;
  color: #4D5AE5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
border-radius: 4px;

}

.button:hover {
  background-color: #4D5AE5;
  color: #F4F4FD;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none
}